@import "../variables";
@import "../colors";

.ava-divider {
  @include DisplayFlex();
  flex-flow: column nowrap;
  margin: 12px 0;
}

/* NOT FLAT BEFORE */

.ava-divider--flat.ava-divider:after {
  content: '';
  @include DisplayFlex();
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, .08);
}

/* NOT FLAT LABEL */

.ava-divider:not(.ava-divider--flat) .ava-divider__label {
  @include shadow-1dp();

  &:hover {
    @include shadow-2dp();
  }
}

/* LABEL */

.ava-divider__label {
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 6px 6px 6px 6px;
  align-self: center;
  background-color: rgba(0,0,0,.05);

  &:hover {
    background-color: rgba(0,0,0,.05);
  }

  &.ava-divider__label--start {
    align-self: flex-start;    
  }
  &.ava-divider__label--end {
    align-self: flex-end;
  }

  & i {
    vertical-align: middle;
    @include Animation(FadeIn, 0.2s, ease-in-out);
  }
}

/* CONTENT */

.ava-divider__content {
  @include Animation(Gravitation, 0.2s, ease-in-out);
}

/* FLAT */

.ava-divider.ava-divider--flat {

  .ava-divider__label {
    background-color: transparent;    
  }
}

/* IS ON */

.ava-divider.is-on {
  .ava-divider__label {
    background-color: rgba(0,0,0,.05);    
  }

  .ava-divider__content {
    display: initial;
  }
}

/* IS OFF */

.ava-divider.is-off {
  .ava-divider__content {
    display: none;
  }
}
