@import '../variables';
@import '../colors';

/* PRIMARY */

.ava-button {
  background-color: $color-primary;
  
  &:focus, &:hover, &:active {
    background-color: $color-primary;    
  }
}

/* FLAT */

.ava-button--flat {
  background-color: transparent!important;
  
  &:focus, &:hover, &:active {
    background-color: transparent!important;    
  }
}

/* ACCENT */

.ava-button--accent {
  color: $color-text-icons;
  
  i {
    color: inherit;
  }  
}

/* MATERIALIZE WORKAROUND */

.btn-floating {
  
  &:hover {
    background-color: transparent;
  }
}