@import 'mixins';

/* DEFINITIONS */

/* ALUNO */
$aluno-primary: #3F51B5;
$aluno-primary-dark: #303F9F;
$aluno-primary-light: #C5CAE9;
$aluno-accent: #E91E63;
$aluno-accent-dark: #C2185B;
$aluno-color-text-icons: rgba(255,255,255, 1);

/* SEDUC */
$seduc-primary: #03A9F4;
$seduc-primary-dark: #0288D1;
$seduc-primary-light: #B3E5FC;
$seduc-accent: #FFEB3B;
$seduc-accent-dark: #FBC02D;
$seduc-color-text-icons: rgba(0, 0, 0, .84);

/* PROFESSOR */
$professor-primary: #673AB7;
$professor-primary-dark: #512DA8;
$professor-primary-light: #D1C4E9;
$professor-accent: #FF5722;
$professor-accent-dark: #E64A19;
$professor-color-text-icons: rgba(255,255,255, 1);

/* DIRETOR */
$diretor-primary: #009688;
$diretor-primary-dark: #00796B;
$diretor-primary-light: #B2DFDB;
$diretor-accent: #E040FB;
$diretor-accent-dark: #7B1FA2;
$diretor-color-text-icons: rgba(255,255,255, 1);

/* PALETTE COLORS */

$color-blue: #2196F3;
$color-blue-light: #BBDEFB;
$color-blue-dark: #1976D2;

/* PALETTE */

$color-primary: null !default;
$color-primary-light: null !default;
$color-primary-dark: null !default;
$color-accent: null !default;
$color-accent-dark: null !default;
$color-text-icons: null !default;

/* PALETTE ALUNO */

@include Palette('aluno');

/* PALETTE DIRETOR */

// @include Palette('diretor');

/* PALETTE PROFESSOR */

// @include Palette('professor');

/* PALETTE DIRETOR */

// @include Palette('seduc');
