@import 'colors';

/* SHADOWS */

$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

/* PROFILE */

$profile-header-background-height: 250px;

/* TESTER */

$tester-padding-length: 12px;
$tester-label-width: 30px;