@import '../variables';

/* CONTENT */

.ava-content {
  margin: 0;
}

/* CONTENT WITH TABS */

.ava-content--navbar-tabs {
  margin-top: 72px;
}

/* CENTER */

.ava-center {
  display: flex;
  align-items: center;
  justify-content:  center;
}

/* ALIGNMENTS */
.ava-align {
  display: flex;

  &.ava-align--center {
    align-items: center;
    justify-content:  center;
  }  
  &.ava-align--start {
    align-items: flex-start;
    justify-content:  flex-start;
  }  
  &.ava-align--end {
    align-items: flex-end;
    justify-content:  flex-end;
  }  
}